.face{
    background-color: #ffa511;
    height:400px;
    width:400px;
    border-radius: 50%;
}
#eye1{
    background-color: black;
    height:50px;
    width:50px;
    position:relative;
    top:100px;
    left:100px;
    border-radius: 50%;
    display:inline-block;
}
#eye2{
    background-color: black;
    height:50px;
    width:50px;
    position:relative;
    top:100px;
    left:200px;;
    border-radius: 50%;
    display: inline-block;
}
.mouth{
    background-color: brown;
    height:50px;
    width:200px;
    border-radius: 0 0 50px 50px;
    position:absolute;
    top: 250px;
    left:100px;

}
